<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.johns.crm.mapper.ClueMapper">
    <select id="selectAll" resultMap="ClueBaseMap">
        select
        id, owner_id, activity_id,
        full_name, appellation,
        phone, wechat, qq, email,
        age, job, year_income,
        address, need_loan,
        intention_state, intention_product,
        state, source,
        description, next_contact_time,
        create_time, create_by,
        edit_time, edit_by
        from t_clue
        <where>
            <if test="filterSQL != null and filterSQL != ''">
                and ${filterSQL}
            </if>
        </where>
    </select>
    <insert id="insertBatchClues">
        insert into t_clue (
            id, owner_id, activity_id,
            full_name, appellation,
            phone, wechat, qq, email,
            age, job, year_income,
            address, need_loan,
            intention_state, intention_product,
            state, source,
            description, next_contact_time,
            create_time, create_by,
            edit_time, edit_by
        ) values
        <foreach collection="clues" item="clue" separator=",">
            (
                null, #{clue.ownerId}, #{clue.activityId},
                #{clue.fullName}, #{clue.appellation},
                #{clue.phone}, #{clue.wechat}, #{clue.qq}, #{clue.email},
                #{clue.age}, #{clue.job}, #{clue.yearIncome},
                #{clue.address}, #{clue.needLoan},
                #{clue.intentionState}, #{clue.intentionProduct},
                #{clue.state}, #{clue.source},
                #{clue.description}, #{clue.nextContactTime},
                #{clue.createTime}, #{clue.createBy},
                #{clue.editTime}, #{clue.editBy}
            )
        </foreach>
    </insert>

    <update id="updateClue">
        update t_clue
        <set>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="fullName != null and fullName != ''">full_name = #{fullName},</if>
            <if test="appellation != null">appellation = #{appellation},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="wechat != null and wechat != ''">wechat = #{wechat},</if>
            <if test="qq != null and qq != ''">qq = #{qq},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="age != null and age != ''">age = #{age},</if>
            <if test="job != null and job != ''">job = #{job},</if>
            <if test="yearIncome != null">year_income = #{yearIncome},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="needLoan != null">need_loan = #{needLoan},</if>
            <if test="intentionState != null">intention_state = #{intentionState},</if>
            <if test="intentionProduct != null">intention_product = #{intentionProduct},</if>
            <if test="state != null">state = #{state},</if>
            <if test="source != null">source = #{source},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="nextContactTime != null">next_contact_time = #{nextContactTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="editTime != null">edit_time = #{editTime},</if>
            <if test="editBy != null">edit_by = #{editBy}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteBulkCluesBuId">
        delete from t_clue
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>